body {
    font: Arial, sans-serif;
    text-anchor: middle;
    font-weight: bold;
}


/* This is our style for the adjacency list form */
#alBox {
    width: 100%;
    border: 1px solid /*#333*/ green;
    margin: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


#alBox.invalid {
    /*border-color: #900;*/
    border: 1px solid red;
    outline: none;
    /*background-color: #FDD;*/
}

