body {
    font-family: Arial, sans-serif;
    text-anchor: middle;
    font-weight: bold;
}

#alBox {
    font-size: 18pt;
    width: 100%;
    border: 1px solid green;
    margin: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    resize: none;
}

    #alBox.invalid {
        border: 1px solid red;
        outline: none;
    }
