/* set global font */
body {
    font: 16px Arial, sans-serif;
}

iframe {
    /*width: 960px;
  height: 500px;*/
    width: 100%;
    height: 100%;
    /*border: 1px solid #DEDEDE;*/
}

/* remove ul indent in instructions */
#instructions ul {
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

#header, #footer {
    text-align: center;
}
