/* set global font */
body {
    font: 16px Arial, sans-serif;
}

iframe {
    /*width: 960px;
  height: 500px;*/
    width: 100%;
    height: 100%;
    /*border: 1px solid #DEDEDE;*/
}

/* remove ul indent in instructions */
#instructions ul {
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

#header, #footer {
    text-align: center;
}


#control_buttons input:hover, input.clicked {
    background-color: #DCDCDC;
}

#control_buttons input {
    border: 0;
}

kbd {
    padding: .1em .6em;
    border: 1px solid #ccc;
    font-size: 11px;
    font-family: Arial,Helvetica,sans-serif;
    background-color: #f7f7f7;
    color: #333;
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
    border-radius: 3px;
    display: inline-block;
    margin: 0 .1em;
    text-shadow: 0 1px 0 #fff;
    line-height: 1.4;
    white-space: nowrap;
}